security:
  # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_profiler|_wdt|assets|build)/
      security: false

    main:
      lazy: true
      provider: app_user_provider

      # ✅ plusieurs authenticators (form + google)
      custom_authenticator:
        - App\Security\UserAuthenticator
        - App\Security\GoogleAuthenticator

      logout:
        path: app_logout
        target: app_login

      remember_me:
        secret: '%kernel.secret%'
        lifetime: 604800
        path: /
        # always_remember_me: true

      # switch_user: true

  # Note: Only the *first* matching rule is applied
  access_control:
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/logout, roles: PUBLIC_ACCESS }

    # ✅ OAuth Google
    - { path: ^/connect/google, roles: PUBLIC_ACCESS }

    # Registration + email verify
    - { path: ^/register, roles: PUBLIC_ACCESS }
    - { path: ^/verify/email, roles: PUBLIC_ACCESS }

    # Password reset
    - { path: ^/forgot-password, roles: PUBLIC_ACCESS }
    - { path: ^/reset-password, roles: PUBLIC_ACCESS }

    - { path: ^/api, roles: PUBLIC_ACCESS }
    - { path: ^/cron, roles: PUBLIC_ACCESS }
    - { path: ^/push/test, roles: PUBLIC_ACCESS }

    # Push réservé users (tu peux garder comme ça pour l'instant)
    - { path: ^/push, roles: ROLE_USER }

    # Tout le reste nécessite un user connecté
    - { path: ^/, roles: ROLE_USER }

when@test:
  security:
    password_hashers:
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
        algorithm: auto
        cost: 4
        time_cost: 3
        memory_cost: 10
