# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    openai.api_key: '%env(OPENAI_API_KEY)%'
    cron.secret: '%env(CRON_SECRET)%'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  Aws\S3\S3Client:
    arguments:
      - version: 'latest'
        region: 'auto'
        endpoint: '%env(resolve:R2_ENDPOINT)%'
        use_path_style_endpoint: true
        credentials:
          key: '%env(R2_ACCESS_KEY)%'
          secret: '%env(R2_SECRET_KEY)%'

  # Filesystem Flysystem vers R2
  receiplan.r2_filesystem:
    class: League\Flysystem\Filesystem
    arguments:
      - '@receiplan.r2_adapter'

  receiplan.r2_adapter:
    class: League\Flysystem\AwsS3V3\AwsS3V3Adapter
    arguments:
      - '@Aws\S3\S3Client'
      - '%env(R2_BUCKET)%'

  App\Service\Image\Storage\R2ImageStorage:
    arguments:
      $fs: '@receiplan.r2_filesystem'
      $publicBaseUrl: '%env(resolve:R2_PUBLIC_BASE_URL)%'

  App\Service\Image\Storage\ImageStorageInterface: '@App\Service\Image\Storage\R2ImageStorage'

  App\Service\IngredientImageResolver: ~
  App\Service\RecipeImageResolver: ~
  
  App\Service\AiStockParser:
    arguments:
      $openAiApiKey: '%env(OPENAI_API_KEY)%'
      $model: 'gpt-4.1-mini'

  App\Service\Ai\AiTranscriptionService:
      arguments:
        $openAiApiKey: '%env(OPENAI_API_KEY)%'
        $model: 'whisper-1'

  App\Service\AiTicketParser:
    arguments:
      $openAiApiKey: '%env(OPENAI_API_KEY)%'
      $model: 'gpt-4.1-mini'

  App\Service\AiImageClient:
      arguments:
        $openAiApiKey: '%env(OPENAI_API_KEY)%'

