# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    openai.api_key: '%env(OPENAI_API_KEY)%'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  App\Service\AiStockParser:
    arguments:
      $openAiApiKey: '%env(OPENAI_API_KEY)%'
      $model: 'gpt-4.1-mini'

  App\Service\Ai\AiTranscriptionService:
      arguments:
        $openAiApiKey: '%env(OPENAI_API_KEY)%'
        $model: 'whisper-1'

  App\Service\AiTicketParser:
    arguments:
      $openAiApiKey: '%env(OPENAI_API_KEY)%'
      $model: 'gpt-4.1-mini'