<form
  method="post"
  action="{{ path('app_recipe_delete', { id: recipe.id }) }}"
  class="d-inline"
  onsubmit="return confirm('Supprimer cette recette ?');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ recipe.id) }}"
  >
  <button class="btn btn-sm btn-outline-danger rp-icon-btn">
    <i class="fa-solid fa-trash"></i>
  </button>
</form>
